<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	
	<h:form>
		<div>
			<h:outputLabel value="Título" for="titulo"/>
			<h:inputText value="#{adminLivrosBean.livro.titulo}" id="titulo"/>
		</div>
		<div>
			<h:outputLabel value="Descrição" for="descricao"/>
			<h:inputTextarea rows="4" cols="20" value="#{adminLivrosBean.livro.descricao}" id="descricao"/>
		</div>
		<div>
			<h:outputLabel value="Número de páginas" for="numPagina"/>
			<h:inputText value="#{adminLivrosBean.livro.numeroPaginas}" id="numPagina"/>
		</div>
		<div>
			<h:outputLabel value="Preço" for="preco"/>
			<h:inputText value="#{adminLivrosBean.livro.preco}" id="preco"/>
		</div>
		<div>
			<h:outputLabel value="Autores" />
			<h:selectManyListbox value="#{adminLivrosBean.autoresId}" converter="javax.faces.Integer">
				<f:selectItems value="#{adminLivrosBean.autores}" var="autor"
					itemValue="#{autor.id}" itemLabel="#{autor.nome}"/>
			</h:selectManyListbox>
		</div>
		
		<h:commandButton value="Cadastrar" action="#{adminLivrosBean.salvar}"/>
	</h:form>

</html>
